Package: pybootchartgui
Source: bootchart2
Version: 0.14.4-3.2
Architecture: all
Maintainer: David Paleino <dapal@debian.org>
Installed-Size: 111
Depends: python3, python3-cairo, python3-gi
Section: utils
Priority: optional
Homepage: http://github.com/mmeeks/bootchart
Description: viewer for boot process performance analysis results
 bootchart2 is a boot process performance analyser: a tool that lets you
 collect and analyse data from your boot process. 
 This is version 0.14.4-3.2, a fork of the current (0.14.4-3.1) stored in 
 the debian repo. The main change is an update on requirements/dependencies:
 python (2.7 or 2.8) has been replaced by python3, python-cairo has been 
 replaced by python3-cairo, and python-gtk2 has been replaced by python3-gi
 but it likely involves GoObject introspection.
 NOTE THAT PYTHONGTK2 IS DEPRECATED, GUI.PY IS WRITTEN IN IT, AND A REPLACEMENT 
 WILL NEED TO BE WORKED ON.
 .
 This package provides pybootchartgui, a graphical program to view the
 data recorded by bootchart2.
